<div class="container-fluid">
    <div class="row main-style">
        <div class="col-12 d-flex justify-content-center align-items-center slider">
            <div class="cover"></div>
            <img [src]="_ruta+'assets/images/bg/bg8.jpg'">
            <h1 class="text-white mt-5">Galería</h1>
        </div>

        <div class="col-12 d-flex propiedades mt-4">
            <div class="row w-100 mx-3">
                <div class="col-12 text-center" *ngIf="propiedadesP == null">
                    <img [src]="_ruta+'assets/images/resources/loading7.gif'" alt="Cargando...." width="300px">
                </div>
                <div class="col-12 text-center" *ngIf="propiedadesP != null && propiedadesP.length == 0">
                    <h2 class="text-danger">No hay propiedades a mostrar...</h2>
                </div>
                <div class="col-auto" *ngIf="propiedadesP != null && propiedadesP.length > 0">
                    <div class="card-columns">
                        <div class="card" *ngFor="let pro of propiedadesP; let i = index">
                            <a class="thumbnail" style="cursor: pointer;" (click)="galleryModal(pro, modal)">
                                <img class="img-thumbnail" [src]="_data+'img/'+pro.imagen">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" [ngClass]="{'disabled': paginaActual == 1}">
                                    <span class="page-link" *ngIf="paginaActual == 1">
                                        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
                                    </span>
                                    <a class="page-link" (click)="link(prevPage())" *ngIf="paginaActual != 1"
                                        style="cursor: pointer;">
                                        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let np of createRange(totalPaginas)"
                                    [ngClass]="{'active': paginaActual == np}">
                                    <span class="page-link" *ngIf="paginaActual == np">{{np}}</span>
                                    <a (click)="link(np)" class="page-link" *ngIf="paginaActual != np"
                                        style="cursor: pointer;">{{np}}</a>
                                </li>
                                <li class="page-item" [ngClass]="{'disabled': paginaActual == totalPaginas}">
                                    <span class="page-link" *ngIf="paginaActual == totalPaginas">
                                        <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
                                    </span>
                                    <a class="page-link" (click)="link(nextPage())" *ngIf="paginaActual != totalPaginas"
                                        style="cursor: pointer;">
                                        <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>            

            <ng-template #modal let-modal>
                <div class="modal-header">
                    <button class="btn close" (click)="closeModal()" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <span class="badge badge-primary m-2" *ngIf="propiedad.estadoOrden==1">{{propiedad.estado}}</span>
                        <span class="badge badge-success m-2" *ngIf="propiedad.estadoOrden==2">{{propiedad.estado}}</span>
                        <img [src]="_data+'img/'+propiedad.imagen" class="card-img-top img-fluid" [alt]="propiedad.nombre">
                        <div class="card-body">
                            <h3 class="card-title">{{propiedad.nombre}}</h3>
                            <b>Precio:</b> <span class="precio ml-2">{{propiedad.moneda+numberWithCommas(propiedad.precio)}}</span>
                            <p class="card-text mt-1">
                                <fa-icon [icon]="faMapPin"></fa-icon> {{propiedad.ubicacion}}
                                <br/>
                                <fa-icon [icon]="faBed"></fa-icon> {{propiedad.habitaciones}} Habitaciones
                                <br/>
                                <fa-icon [icon]="faToilet"></fa-icon> {{propiedad.banos}} Baños
                                <br/>
                                <fa-icon [icon]="faArrowsAlt"></fa-icon> {{propiedad.area+' '+propiedad.medida}}
                            </p>
                            <a [routerLink]="['/pro-single', propiedad.codigo]" class="btn btn-primary btn-block btn-bg">Ver más</a>
                        </div>
                    </div>
                </div>
            </ng-template>           
        </div>
    </div>
</div>