<h4>Conoce nuestros</h4>
<h2>Servicios</h2>
<p class="mb-4">Algunos de los muchos servicios que ofrecemos.</p>
<div class="row mx-3 mx-sm-5 px-0 px-sm-5 justify-content-center servicios">
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faUserCog"></fa-icon>
        <h5>Asesoramiento</h5>
        <p>Nuestra amplia experiencia en el mercado y conocimiento en la zona, nos proporcionan una amplia posibilidad de ayudarte a encontrar el inmueble ideal.</p>
    </div>   
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faFileContract"></fa-icon>
        <h5>Tramitación documentos</h5>
        <p>Legalizamos cualquier transacción inmobiliaria para tu tranquilidad y seguridad. La legalización de documentos es obligatoria.</p>
    </div> 
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faChartLine"></fa-icon>
        <h5>Análisis del mercado</h5>
        <p>Definimos el verdadero valor de una casa y analizamos si la posible compra es una buena opción respecto al mercado inmobiliario.</p>
    </div>    
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faUserTie"></fa-icon>
        <h5>Negociación</h5>
        <p>Contamos con la experiencia para realizar una negociación entre compradores y vendedores, realizando ofertas y contraofertas que se ajustan al interés del cliente al que representamos.</p>
    </div>   
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faUserCog"></fa-icon>
        <h5>Asesoramiento</h5>
        <p>Nuestra amplia experiencia en el mercado y conocimiento en la zona, nos proporcionan una amplia posibilidad de ayudarte a encontrar el inmueble ideal.</p>
    </div> 
    <div class="col-12 col-md-4">
        <fa-icon [icon]="faBullhorn"></fa-icon>
        <h5>Publicidad</h5>
        <p>Promovemos y publicitamos la venta de inmuebles, esto a través de diversos canales de comunicación ya sea tradicionales o digitales.</p>
    </div>    
</div>