<div class="container-fluid">
    <div class="row main-style">
        <div class="col-12 d-flex justify-content-center align-items-center slider">
            <div class="cover"></div>
            <img [src]="_ruta+'assets/images/bg/bg2.jpg'">
            <h1 class="text-white mt-5">Nosotros</h1>
        </div>
        <div class="col-12 nosotros">
            <div class="row d-flex justify-content-center mx-2 contenido">
                <div class="col-12 col-md-8 order-2 order-lg-1 text-center">
                    <h4>¿Quienes somos?</h4>
                    <p>Somos una empresa dedicada al buen trato, trabajo y buen servicio para satisfacer y hacer feliz a
                        nuestros clientes con sus propiedades soñadas. Nos basamos en la orientación, guía y buen
                        trato por
                        que un buen servicio no es solo mostrar sino comprender y dedicarnos a ustedes. Gracias por ser
                        parte de
                        tu inmueble perfecto.</p>
                    <h4>Misión</h4>
                    <p>Brindar un servicio de asesoría inmobiliaria personalizada orientada a cuidar el patrimonio de
                        nuestros
                        clientes, con ética y profesionalismo, proporcionando a nuestros clientes asesoría inmobiliaria
                        personalizada e integral, con ética, honestidad y discreción, siempre orientados al servicio
                        personalizado en todas las etapas de nuestra intervención en la venta, compra o alquiler,
                        basados en
                        nuestra experiencia y capacitación en el sector.</p>

                    <h4>Visión</h4>
                    <p>
                        Ser la mejor alternativa para quienes quieren la ayuda de un profesional inmobiliario, desde una
                        relación cercana y resolutiva, ofreciendo las propuestas más innovadoras.
                        Que nuestros clientes se sientan plenamente acompañados y asesorados durante todo el proceso de
                        compra
                        de una propiedad, para mejorar su calidad de vida.
                    </p>
                    <h4>Valores</h4>
                    <ul>
                        <li>
                            <b>Trabajo en equipo:</b> 
                            Fomentamos la participación de todos para lograr un objetivo
                            común, compartiendo información y conocimientos.
                        </li>
                        <li>
                            <b>Conducta ética:</b> 
                            Actuamos con profesionalidad, integridad moral, lealtad y respeto a
                            las personas.
                        </li>
                        <li>
                            <b>Orientación al cliente:</b> 
                            Centramos nuestro esfuerzo en la satisfacción del cliente,
                            aportando soluciones competitivas y de calidad.
                        </li>
                        <li>
                            <b>Innovación:</b> 
                            Promovemos mejoras continuas e innovación para alcanzar la máxima calidad
                            desde criterios de rentabilidad.
                        </li>
                        <li>
                            <b>Transparencia:</b> 
                            Actuando coherentemente con información abierta y oportuna.
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-auto d-flex d-md-block justify-content-center align-items-center order-1 order-lg-2 person">
                    <img [src]="_ruta+'assets/images/otros/persona2.jpg'" alt="Persona 1" class="img img-fluid"
                        style="max-width: 300px">
                </div>
            </div>
        </div>
    </div>
</div>