<div class="container-fluid">
    <div class="row main-style">
        <div class="col-12 d-flex justify-content-center align-items-center slider">
            <div class="cover"></div>
            <img [src]="_ruta+'assets/images/bg/bg9.jpg'">
            <h1 class="text-white mt-5">Validar</h1>
        </div>
        <div class="col-12 recuperar-pass">
            <div class="d-flex justify-content-center mx-2 text-center contenido">                
                <form #cambiarForm="ngForm" (ngSubmit)="goCambiarPassword()">
                    <h3>Cambiar Contraseña</h3>
                    <div class="input-group-lg my-3">
                        <input type="password" name="password" class="form-control mt-1" placeholder="Nueva Contraseña" #password="ngModel"
                            [(ngModel)]="passString" required>
                        <small class="text-danger" *ngIf="!password.valid && password.touched">
                            <b>Escribe un una contraseña válida</b>
                        </small>

                        <input type="password" name="passwordR" class="form-control mt-1" placeholder="Repetir Contraseña" #passwordR="ngModel"
                            [(ngModel)]="passRString" (input)="onTextChangePass($event)" required>
                        <small class="text-danger"
                            *ngIf="!passwordR.valid && passwordR.touched || !passValid">
                            <b>Debes repetir la contraseña</b>
                        </small>
                    </div>

                    <div class="input-group-lg my-3">
                        <small class="text-danger" *ngIf="error == true">
                            <b>Datos incorrectos o no encontrados...</b>
                        </small>
                    </div>
                    <button class="btn btn-primary" [disabled]="cambiarForm.invalid || !passValid">
                        <fa-icon [icon]="faPencilAlt" class="mr-1"></fa-icon>
                        Cambiar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
