<div class="container-fluid">
    <div class="row main-style">
        <div class="col-12 d-flex justify-content-center align-items-center slider">
            <div class="cover"></div>
            <img [src]="_ruta+'assets/images/bg/bg9.jpg'">
            <h1 class="text-white mt-5">Contraseña</h1>
        </div>
        <div class="col-12 recuperar-pass">
            <div class="d-flex justify-content-center mx-2 text-center contenido">                
                <form #reqForm="ngForm" (ngSubmit)="goReq()">
                    <h3>Recuperar Contraseña</h3>
                    <div class="input-group-lg my-3">
                        <input type="text" name="usuario" class="form-control" placeholder="Usuario" #usuario="ngModel"
                            [(ngModel)]="userString" required>
                        <small class="text-danger" *ngIf="!usuario.valid && usuario.touched">
                            <b>Escribe un usuario válido</b>
                        </small>
                    </div>

                    <div class="input-group-lg my-3">
                        <small class="text-danger" *ngIf="reqError == true">
                            <b>Datos incorrectos o no encontrados...</b>
                        </small>
                    </div>
                    <button class="btn btn-primary" [disabled]="reqForm.invalid">
                        <fa-icon [icon]="faPaperPlane" class="mr-1"></fa-icon>
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>